{% extends 'base.html' %}


{% block body %}

  {% for el in data %}
      <div class="card-deck mb-4 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 text-center">
          <strong class="card mb-0 rounded-3 shadow-sm" style="background-color:#04bdff;">{{ el.id }}</strong>
          <div class="card-header">
            <h5 class="my-0 fw-normal">{{ el.title }}</h5>
          </div>
          <h3 class="my-0 fw-normal">{{ el.text }}</h3>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ el.price }}<small class="text-muted">/$</small></h1>
            <div class="offer__body">
            <div class="row">
            </div>
              </div>
            <a href="/posts/edit/{{ el.id }}" class="w-100 btn btn-lg btn-outline-primary">edit</a>
          </div>
          <a href="/posts/delete/{{ el.id }}" class="w-100 btn btn-lg btn-outline-primary">delete</a>
          </div>

                </div>
            </div>
        </div>

          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
